﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layout.cshtml";
}
@section Header{


<header class="masthead">
    <div class="overlay">
        <div class="container">
            <h1 class="display-1 text-white">Kargo Takip</h1>
            <h2 class="display-4 text-white">Sizin icin buradayiz</h2>
        </div>
    </div>
</header>

   
}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    
    <meta name="author" content="">
    <title>KARGO</title>
    <!-- Bootstrap core CSS -->
    <link href="~/Scripts/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    
    <link href="~/Scripts/one-page-wonder.css" rel="stylesheet" />
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">KARGO TAKİP</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">
                           @Html.ActionLink("KARGO TAKIP", "Index", "Home")
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        
                        <a class="nav-link" href="#">  <span> </span> @Html.ActionLink("UYE GİRİSİ", "Index", "Kargo")</a>
                        <span class="sr-only">(current)</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Hakkimizda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">İletisim</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 order-2">
                    <div class="p-5">
                        <img class="img-fluid rounded-circle" src="https://www.trabzontelcit.com/FileUpload/bs532583/File/kargo-araci.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-6 order-1">
                    <div class="p-5">
                        <h2 class="display-4">Sizin icin buradayiz</h2>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="p-5">
                        <img class="img-fluid rounded-circle" src="http://www.perasinema.com/wp-content/uploads/2015/09/mektup.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="p-5">
                        <h2 class="display-4">Nerede diye merak etmek yok</h2>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 order-2">
                    <div class="p-5">
                        <img class="img-fluid rounded-circle" src="http://www.mustak.org/wp-content/uploads/2016/09/security.png" alt="">
                    </div>
                </div>
                <div class="col-md-6 order-1">
                    <div class="p-5">
                        <h2 class="display-4">Tum islemlerinizi guvenle yapin!</h2>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
</html>




@section Footer{
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
    </div>
    <!-- /.container -->
</footer>
    }