﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

</head>
<body>
  <header>         
    
    
    @RenderSection("Header", false)
    
    
    </header>  
    
 
   
    

  


    <div> 
        @RenderBody();


    </div>
  
    @RenderSection("Footer", false)



</body>
</html>
